a{
    background:#B99095 ;
    color: #3D5B59;
    font-size: 40px;
    border-radius: 14px;
    h3{
        font-size: 50px;
    }

}
body{
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: antiquewhite;
}
h1{ 
    padding-top: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    font-weight: 700;
}
.flexy{
    padding-top: 7em;
}